<div></div>
<%= link_to rooms_path do %>
  <%= image_tag "SmartVentLogo_Short.png", class: "logo" %>
<% end %>

<div>
  UMBC Capstone project
  <br> Kevin Sears
  <br> Michael Warren
  <br> Hunter Somerville
  <br> Sergei Grishin
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
